 <div class="container container-extra">
        <div class="container-child">
            <div class="et-extra">
                <div class="et-extra__heading">
                    <h2>Have any Questions? We have people</h2>
                </div>
                <div class="et-extra__box">
                    <div class="et-extra__box-1">
                        <h3>Call</h3>
                        <img src="https://img.icons8.com/ios/30/000000/phone.png" />
                        <p>{{siteContactNum}}</p>
                    </div>
                    <div class="et-extra__box-2">
                        <h3>Reply</h3>
                        <img src="https://img.icons8.com/ios/30/000000/new-post.png" />
                        <p>{{siteContactEmail}}</p>
                    </div>
                </div>
                <div class="et-extra__info">
                    <p>{{siteContactTime}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container container-footer">
        <div class="container-child">
            <div class="et-footer">
                <div class="et-footer__menu">
                    <ul>
                        <li><a href="{{siteURL}}">Home</a></li>
                        <li><a href="{{siteURL}}/about-us">About Us</a></li>
                        <li><a href="{{siteURL}}/contact-us">Contact Us</a></li>
                        <li><a href="{{siteURL}}/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="et-footer__social social_icons">
                    <a href="https://www.facebook.com/{{facebookProfileId}}">
                        <img src="https://img.icons8.com/ios/24/ffffff/facebook-new.png" />
                    </a>
                    <a href="https://www.twitter.com/{{twitterProfileId}}">
                        <img src="https://img.icons8.com/ios/24/ffffff/twitter--v1.png" />
                    </a>
                    <a href="https://www.instagram.com/{{instagramProfileId}}">
                        <img src="https://img.icons8.com/ios/24/ffffff/instagram-new--v1.png" />
                    </a>
                    <a href="https://www.youtube.com/{{youtubeChannelId}}">
                        <img src="https://img.icons8.com/ios/30/ffffff/youtube-play--v1.png" />
                    </a>
                </div>
                <div class="et-footer__address">
                    <p>&copy; {{yearNow}} {{companyName}} | <a href="{{unsubscribeCallbackURL}}">Unsubscribe</a></p>
                    <p>{{companyLocation}}</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>